@import url('base.css');
@import url('gallery.css');
@import url('CharacterPage.css');

@media screen and (max-width: 1200px) {
    .App {
        width: 750px;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}

@media screen and (max-width: 992px) {
    .App {
        width: 700px;
    }

    .App-logo {
        width: 400px;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .gallery-item {
        width: 215px;
        height: 215px;
    }
}

@media screen and (max-width: 768px) {
    .App {
        width: 460px;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}

@media screen and (max-width: 480px) {
    .App {
        width: 90vw;
    }

    .App-logo {
        width: 90vw;
    }

    .gallery {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .gallery-item {
        width: 90vw;
        height: 90vw;
    }
}
