* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    text-align: center;
    width: 1000px;
}

.App-logo {
    width: 500px;
    pointer-events: none;
    margin-top: 50px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    margin-top: 20px;
}

.gallery-item {
    width: 230px;
    height: 230px;
    box-shadow: 1px 2px 4px 1px lightgrey;
    border-radius: 4px;
}

.gallery-image {
    border-radius: 4px;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .App {
        width: 750px;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}

@media screen and (max-width: 992px) {
    .App {
        width: 700px;
    }

    .App-logo {
        width: 400px;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .gallery-item {
        width: 215px;
        height: 215px;
    }
}

@media screen and (max-width: 768px) {
    .App {
        width: 460px;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}

@media screen and (max-width: 480px) {
    .App {
        width: 90vw;
    }

    .App-logo {
        width: 90vw;
    }

    .gallery {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .gallery-item {
        width: 90vw;
        height: 90vw;
    }
}
