.button {
    padding: 5px 15px;
    font-size: 14px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.button-icon {
    margin: 0 5px -2px 0;
}

.button:hover {
    transform: scale(1.05);
}

.neutral {
    color: black;
}

.classic {
    color: teal;
}
