.input-container {
    position: relative;
    margin-top: 20px;
}

.input {
    width: 100%;
    padding: 12px 35px;
    margin: 5px 0;
    border: 1px solid lightgrey;
    border-radius: 4px;
    font-size: 12px;
}

.input-icon {
    position: absolute;
    top: 55%;
    left: 10px;
    transform: translateY(-50%);
}

