.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.navbar div:last-of-type {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

